#thermometer-wrap {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background: #22235C url(../img/plane2.png) no-repeat -22px -40px;
	padding: 260px 40px 20px;
}

#thermometer .current,
#thermometer .current:before,
#thermometer .goal{
	color: #FFDD9B;
}
#explain {
  background: #406886 url("http://rayhyde.nl/playground/img/playground.png") no-repeat scroll 98% bottom / 150px auto;
/*  width: 50%;*/
/*  float: right;*/
  border-radius: 10px;
  color: #fff;
  padding: 20px 60px 105px 20px;
  min-height: 160px;
  margin: 30px 0;
}
#explain > p {
  line-height: 150%;
}
#explain > p.extra-padding {
  padding-right: 160px;
}
#explain h2 {
  margin: 0 0 10px;
}
#explain a {
  color: #ffffff;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  border-bottom: solid 1px #ffffff;
  text-decoration: none;
}
#explain a:hover {
  border-color: transparent;
  text-decoration: none;
}

.therm-text ul {
	margin-left: 0;
	padding-left: 0;
}
.therm-text ul li {
	margin-left: 1em;
}

